/* .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    /*Aqui poner medida responsive no margin-left para llevar menu a la derecha*/
/* } */

/* .bg-light {
    background-color: #f8f9fa!important;
    width: 100%;
}  */

html{
    scroll-behavior: smooth;  
}



body{
    font-size: 1rem;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 300;
    margin: 0;
    padding: 0; 
    /* padding-top: 50px; */
  /*   padding-right: 0;
    padding-left: 0;
    padding-bottom: 0; */

    /* background-color: #1D2326; */
    /* background-color: #252627;    */
    /* background-color: #2c2c2c; */
    background-color: #0F0E2E; 
}

body p{
    color: white;
    margin-top: 10px;
    font-weight: inherit;
    font-family: 'Monda', sans-serif;
    line-height: 2.6rem;
    font-size: 1.3rem;
}

body h2{
    color: white;
}

/* .container_image{
    width: 100%;
} */

/* Navbar */
.english{
    display: block;
}

.spanish{
    display: none;
}

/*--------------- nav bar translate  ---------------*/
.languageTranslate{
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

#dropdown09 {
    padding-left: 17px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    background-color: transparent;
}

  .navbar .dropdown.show a { 
    background-color:#161617;
  }

  .navbar .dropdown.show a :hover{ 
    background-color: #bb51ce;
  }
/* .sticky-top{
    opacity: 85%;
} */
.navbar{
 /*    background-color: #0F0E2E!important; */
    background-color: #161617!important;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 10vh;
    font-size: .9rem;
    font-weight: 400;
    /* box-shadow: 0 2px 4px 0 rgb(0, 0, 0, .5); */
    /* background-color: #2c2c2c; */
}



/* .bg-dark{
    background-color: #0F0E2E!important!;
} */



.nav-link{
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover{
    /* color: #00FFFB; */
 /*   color: #9336FF;  */
   color: #bb51ce; 
  background: rgba(59, 57, 59, 0.616);
 transition: background .3s;
 border-radius: 5px; 
}

.navbar-dark .navbar-toggler  {
    border: none;
    outline: none;
  }

  .active a{
    font-weight: bold;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #bb51ce; 
   /*  background-color: rgba(57, 57, 59, 0.616);
    border-radius: 5px; */
}


.logo{
    min-width: 117px;
    max-width: 87px;
    margin-left: 20px;
    border: none;
}

  
/* .navbar{
    background-color: #161617!important;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 10vh;
    font-size: .9rem;
    font-weight: 400; */
    /* box-shadow: 0 2px 4px 0 rgb(0, 0, 0, .5); */
    /* background-color: #2c2c2c; */
/* } */

/* .nav-link{
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.logo{
    min-width: 117px;
    max-width: 87px;
    margin-left: 20px;
} */

.container{
    display: flex;
   /*  width: 100%; */
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    /* background-color: #2c2c2c; */
}






.row {
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: auto;
}

.practice{
    border: 1px solid red;
}


.container-fluid_image {
    /* display: flex; */
    /* height: 70%;
    width: 100%; */
    /* height: 100%; */
    background-size: cover;                     
    background-repeat: no-repeat;
    margin: 0; 
} 

 /* .img-fluid {
    
}  */

.myImage{
    /* padding-top: 10%; */
   /*  padding-top: 5%; */
   max-width: 890px;
    max-height: auto;
    padding-top: 100px;
    padding-bottom: 2%;
   /*  max-width: 100%; */
  /*   height: auto; */
   
    /* height: 70%;
    width: 100%; */
}

/* Image about About Us section */

.imagenAboutUs{
    padding: 0;
    height: 100%;
    opacity: 90%;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    text-align: center;
    background-color: white;
   /*  max-width: 50vh;
    max-height: 50vh; */
}





#title{
    color: black;
}

/*  Mision and vision container  */

.container-fluid_vision{
    display: flex;
    background-color: #DAD1FF;    
    padding: 3rem;
    width: 100%;
    height: auto;
    margin: 0;
    color: white;
    /* background: linear-gradient(to right, hsla(244, 59%, 21%, 0.692), hsla(168, 53%, 52%, 0.589)); */
    background: linear-gradient(to right, hsla(244, 59%, 21%), hsla(168, 53%, 52%));
    /* height: 30vh;
    width: 100%;
    padding-left: 45px; */ 
    
}

.container-fluid_vision h2 {
    color: white;
    font-size: 2.45rem;
    font-weight: bold;
}

/*  Team container  */

.container-fluid_team{
    padding: 3rem;
    height: 50%;
    /* background-color: #0F0E2E; */
    /* background-image: url('./img/grupo.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    opacity: 0.6;
    position: relative;
}

.container-fluid_team p{
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 2rem;
    color: white;
}

.container-fluid_team span{
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
}

/* #myCol{
     background-color: transparent; 
}
 */

#team{
    max-width: 100%;

}

.btndown{
    padding-left: 45%;
   
}

.btndown{
    background-color: none;
    height: 10%;
    width: 10%;
    border-radius: 50%;
    /* border: white 5px solid; */
}

.highlight{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding: 0 5px 5px;
    box-shadow: inset 0 -0.5em 0 rgba(208, 0, 227, 0.3);
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
    width: 20%;
    font-size: 1.7rem;
    margin-top: 20px;
}

hr{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid rgb(221, 219, 219);
}
 .hr{
    color: white;
    width: 70%;
}


/* Founders container */

.container-fluid_founders{
    padding: 3rem;
    background-color: white;
}
.container-fluid_founders p{
    color: #69696C;
}
.container-fluid_founders span{
    color: #0F0E2E;
    font-weight: bold;
    font-size: 2.5rem;
    /* padding-bottom: 2%; */
}

.container-fluid_founders .bold-text{
    color: #69696C;
    font-weight: bold;
    font-size: 1.3rem;
}





h2{
   color: black;
}
/* #title-founders{
    color: #0F0E2E;
    font-weight: bold;
    font-size: 2.5rem;
} */
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    /* max-width: 100%; */
}

.row_image{
    height: 60%;
}

/* .img-fluid{
    max-width: 100%;
} */

#threed:hover{
    box-shadow:
    1px 1px gray,
    2px 2px gray,
    3px 3px gray;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);

}

.about{
    padding: 0;
}

i{
    font-size: 2rem;
    /* color: #B64DEB; */
    color: white;
    border-radius: 20px;
    padding-top: 20px;
}

.text-center {
    text-align: center!important;
    
}

h3{
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.card {
    /* height: 243px;
    width: 244px; */
    height: 316px;
    width: 310px;
    margin-top: 20%;
    background-color: #eaeae8;
    /* background-color: #f2f5f3; */
    border: none;
    /* box-shadow: 5px 5px 25px #9E9E9E; */
}

.card h3{
    color:  #333;
}
/* .card-body{
    background-color: #f2f5f3;
} */

#founders img{
    margin-top: -50px;
    height: 50%;

}

#founders p{
    font-weight: 500;
    padding-top: 2%;
}
#founders .card{
    border-radius: 0;
    /* box-shadow: 5px 5px 15px#D3D5D4; */
    box-shadow: 12px 9px 15px #D3D5D4;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

#founders .card:hover{
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);background: #7F7FD5;   */ /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*     background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%); */
    background-image: linear-gradient(to right, hsla(244, 59%, 21%), hsla(168, 53%, 52%));
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 15px #9E9E9E;

}

#founders .card:hover h3, #founders .card:hover{
    color:#fff;
}




#cards {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* .card-body{
    background-color: #f2f5f3;
} */

#footer{
    /*  width: 100%; */
    /*  margin-top: auto;  */
        background: #161617;
        padding-top: 30px; 
        padding-bottom: 30px; 
       
    }
    
    
    .footer-box{
    /*   border:1px solid blue;  */
        display: flex;
        justify-content: center;
    }
    
    
    .social-icons{
     /* border:1px solid green;  */
        text-align: center;
    }
    
    /*  
    .copyright {
        border:1px solid red;
       
    } */
     
    .copyright h4{
        color: white;
        font-size: 1rem;
    /*  font-weight: bold; */
        text-align: center;
        padding-top: 4%;
    }
    
    /* .translate h4{
        color:#bb51ce;
        font-size: 1rem;
        text-align: left;
    }
     */
    
    
    .fa {
        padding: 10px 15px 5px;
        font-size: 1.2rem;
        color:white;
        padding-bottom: 1%;
        
    }
    
    .fa:hover{
       /*  color:#00FFFB; */
      /*   color:#9336FF;   */
      color: #bb51ce;  
       /*  color:rgb(250, 95, 229);  */
        /*Alternative colour---   */
       /*  color:  #2c2c2c; */
        text-decoration: none;
    }
    
    
    
    .fab {
        padding: 10px 15px 5px;
        font-size: 1.2rem;
        color: white;
    }
    
    .fab:hover{
        /* color:rgb(250, 95, 229);  */
        /*Alternative colour--- */
        /* color:  #2c2c2c;  */
      /*    color:#9336FF;  */
         color: #bb51ce;  
    /*     color:#00FFFB; */
        text-decoration: none;
    } 
    
    
    
    /*-------------- Scroll up to top button -----------------*/
      
    .cta-button-3{
        /*  border: 2px solid green;  */
       /*  display: table-cell;  */
     /*    text-align: end; */
        text-align: center;
        width: 100%;
        /* padding-bottom: 60px; */
    }
    
     .cta-button-3 {
        /*   text-align: center;  */
            padding: 2%;
           /*  margin-top: 600px; */
        
        }
      
     .cta-button-3 a {
        border:1px solid white; 
        display: inline-block;
        color:white;
        text-decoration: none;
        padding: 0.5em 0.5em;
        border-radius: 50%;
        font-size: 1.5em;
        }
        
        .cta-button-3 a:hover {
            color: white;
            text-decoration: none;
            box-shadow: inset 0 -2em 0 rgba(187, 81, 206, 0.5);
              /* Alternative colour */
           /*  box-shadow: inset 0 -2em 0 rgba(89,34,213, 0.5);  */
           /* box-shadow: inset 0 -2em 0 rgba(208, 0, 227, 0.3); */ 
           /* box-shadow: inset 0 -2em 0 rgba(250, 95, 229, 0.3); */
         
        } 
    
    
    /* -----------/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) -----------*/
    @media (min-width:770px) and (max-height: 1366px)   {
       
        .cta-button-3{
            text-align: end;
        }

        
    .display{
        display: flex;
    }
    .float{
        float: left;
    }

    #up-bottom{
        margin-right: 41%;
    }

/* 
    .myImage{
       
        padding-bottom: 5%;
   
    } */
    
    }
    


    /* .boton_redondo{
        margin-left: 20%;
    } */

/*   @media (min-width: 1100px){
      .myImage{
          padding-top: 6%;
      }
  } */

  /* @media (max-width: 800px){
    .myImage{
        padding-top: 13%;
    }
} */

  /*  @media (min-width: 320px) and (max-width: 1000px) {
       
        .myImage{
            padding-top: 100px;
            padding-bottom: 2%;
            
        }
    }
  */

