html{
    scroll-behavior: smooth;  
}

body{
    font-size: 1rem;
    font-family: 'Monda', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0F0E2E;
}

body p{
    color: white;
    margin-top: 10px;
    font-size: 1.1rem;
}

body h1{
    margin-bottom: .5rem;
    font-family: inherit;
    line-height: 1.2;
    text-align: left;
    padding: 2.5rem;
    padding-bottom: 0;
    color: white;
    font-weight: bold;
    padding-top: 0;
}

/* body h2{
    color: white;
    font-size: 2.7rem;
} */

.row {
    margin-right: 0;
    margin-left: 0;
}

/* --------- Translation ---------*/
.english{
    display: block;
}

.spanish{
    display: none;
}

/*--------------- nav bar translate  ---------------*/
.languageTranslate{
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

#dropdown09 {
    padding-left: 17px;
}

#dropdown10 {
    padding-left: 17px;
}


.navbar-expand-lg .navbar-nav .dropdown-menu{
    background-color: transparent;
}

.navbar-expand-lg .navbar-collapse {
    padding-right: 15px;
}

  .navbar .dropdown.show a { 
    background-color:#161617;
  }
  

  .navbar .dropdown.show a :hover{ 
    background-color: #bb51ce;
  }

  


.navbar{
    background-color: #161617!important;
    width: 100%;
    margin: 0;
   padding: 0;
    min-height: 10vh;
    font-size: .9rem;
    font-weight: 400; 
  /*   padding-right: 1.5%; */
}


.nav-link{
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #bb51ce; 
    background: rgba(59, 57, 59, 0.616);
    transition: background .3s;
    border-radius: 5px; 
}

.navbar-dark .navbar-toggler  {
    border: none;
    outline: none;
    /* padding-right: 16px; */
  }

  .active a{
    font-weight: bold;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
   /*  margin-right: 2%; */
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #bb51ce; 
}

.logo{
    min-width: 117px;
    max-width: 87px;
    margin-left: 20px;
    border: none;
}

 .container-fluid{
    padding-right: 0;
    padding-left: 0;
   
}


#bg_projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(26, 22, 85, 0.9) 0%, rgba(68, 197, 172, 0.8) 99.99%, rgba(13, 186, 124, 0.392) 100%), url('./img/projects.jpg'); 
    background-size: cover;
    position: relative;
}

#bg_projects p {
    width: 100%;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
    padding-top: 6%;
    font-size: 1.3rem;
    text-align: left;
    line-height: 2.1rem;
    padding-top: 1%;
}

#bg_projects h1{
    padding: 1.6rem;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-style: none;
    height: 150px;
    overflow: hidden;
}


.texto-support{
    display: flex;
    height: 100vh;
    justify-content: center;
}

.texto-support span {
    margin-top: 0;
}

#centrar{
    justify-content: center;
    margin-top: 7%;
}


/*Container project 1*/

.container_fluid_project1{
    background-color: white;
    display: flex;
    
}

.container_fluid_project1 p{
    color: #69696C;
    padding-left: 3%;
    padding-right: 3%;
    text-align: left;
    font-size: 1.25rem;
    line-height: 2.1rem;
}
.container_fluid_project1 h2{
    color: #0F0E2E;
    
}

#project1{
    padding: 1.6rem;
    padding-top: 24px;   
}

#project1 h2{
    font-weight: bold;
    padding: 3%;
    padding-bottom: 0%;
    font-size: 2.1rem;
}

#project1 p{
    font-weight: lighter;
}



.container-3{
    margin-left: 1%;
    margin-right: 0;
}

/*--------------------OTRA PRUEBA----------------*/
#project1-text{
    padding: 2rem;
    background-color: white;
}

#project1-text p{
    color: grey;
}

#project1-text h2{
    color: #0F0E2E;
    font-weight: bold;
}



/* CONTAINER 1 NEW TRY*/


.projects{
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    
}


 /* Aeronautics pictures */
.pic1{
    margin: 15px; 
    text-align: center;
    /* margin-bottom: 10%; */
  /*   border: 1px solid red; */
}

.pic1 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 7px solid #fff;
    box-shadow: 10px 7px 12px -5px #b8b8bf;
    border: 3px #fff;
    transition: transform 2s, 1.5s ease-in-out;
    cursor: pointer;
}



.pic1 img:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
}




 /* Drones pictures */

 .pic2{
   /*  margin: 45px; */
    text-align: center;
    margin-bottom: 10%;
  /*   border: 1px solid red; */
}

.pic2 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 7px solid #fff;
    box-shadow: 10px 7px 12px -5px rgba(68, 197, 172, 0.5);
    border: 3px #fff;
    transition: transform 2s, 1.5s ease-in-out;
    cursor: pointer;
}



.pic2 img:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
}



 /* Biotech pictures */

.pic3{
    /* margin: 12px; */
    text-align: center;
    margin-bottom: 10%;
  /*   border: 1px solid red; */
}

.pic3 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 7px solid #fff;
    box-shadow: 10px 7px 12px -5px #b8b8bf;
    border: 3px #fff;
    transition: transform 2s, 1.5s ease-in-out;
    cursor: pointer;
}



.pic3 img:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
}


/* Padding for aeronautics and biotech caption and pictures */
.container-one{
    padding-right: 15%;
    padding-left: 15%;
}




.projects h6{
      color: #69696C;
      margin-top: 10%;
     /*  text-align: center; */
}


/* picture 2 h6 caption */
.projects .pic2 h6{
    color: white;
    margin-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
}



.mb-3, .my-3 {
    margin-bottom: 2rem!important;
}



.container_fluid_project2 {
    padding: 1rem;
    background: linear-gradient(to right, hsla(244, 59%, 21%), hsla(168, 53%, 52%));
    /* background: linear-gradient(to right, hsla(244, 59%, 21%, 0.692), hsla(168, 53%, 52%, 0.589)); */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

}
.container_fluid_project2 h2{
    font-weight: bold;
    padding: 2%;
    padding-bottom: 0%;
}


.container_fluid_project2 p{
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
    font-size: 1.25rem;
    /* padding-top: 15px; */
    line-height: 2.1rem;
}



#projects-2{
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}

#project2 h2{
    font-weight: bold;
    padding: 2%;
    padding-bottom: 0%;
    color: white;
    /* font-size: 2.1rem; */
}

/*Container project 3*/

.container_fluid_project3{
    background-color: white;
    display: flex;
}

.container_fluid_project3 h2{
    color: #0F0E2E;
    font-weight: bold;
    padding: 3rem;
    padding-bottom: 0%;
}

.container_fluid_project3 p{
    color: #69696C;
    padding-left: 3%;
    padding-right: 3%;
    text-align: left;
    font-size: 1.25rem;
    line-height: 2.1rem;
}

#project3{
  /*   padding: 2.5rem; */
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
    padding-top: 24px;
}

#project3 h2 {
    font-weight: bold;
    padding: 3%;
    padding-bottom: 0%;
    /* font-size: 2.1rem; */
}

#space{
    padding: 1rem;
}

.pic1 p{
    font-size: 1rem;
}




/* ---------------- Footer ------------------*/
/* .site-footer {
   background: linear-gradient(to bottom, purple, rebeccapurple); 
    /* Alternative colour--- background: linear-gradient(to bottom, #5922D5, #B096EA);  */
/*   padding: 30px 0; 
  }  */

  #footer{
    /*  width: 100%; */
    /*  margin-top: auto;  */
        background: #161617;
        padding-top: 30px; 
        padding-bottom: 30px; 
       
    }
    
    
    .footer-box{
    /*   border:1px solid blue;  */
        display: flex;
        justify-content: center;
    }

    .privacy{
        color: white;
        text-align: center;
        font-size: 1.1rem;
        cursor: pointer;
        padding-bottom: 5%;
    }
    
    
    .privacy:hover{
        color: #bb51ce;  
    }
    
    a:hover{
        text-decoration:none;
    }


    .social-icons{
     /* border:1px solid green;  */
        text-align: center;
    }
    
    /*  
    .copyright {
        border:1px solid red;
       
    } */
     
    .copyright h4{
        color: white;
        font-size: 1rem;
    /*  font-weight: bold; */
        text-align: center;
        padding-top: 4%;
    }
    
    /* .translate h4{
        color:#bb51ce;
        font-size: 1rem;
        text-align: left;
    }
     */
    
    
    .fa {
        padding: 10px 15px 5px;
        font-size: 1.2rem;
        color:white;
        padding-bottom: 1%;
        
    }
    
    .fa:hover{
       /*  color:#00FFFB; */
      /*   color:#9336FF;   */
      color: #bb51ce;  
       /*  color:rgb(250, 95, 229);  */
        /*Alternative colour---   */
       /*  color:  #2c2c2c; */
        text-decoration: none;
    }
    
    
    
    .fab {
        padding: 10px 15px 5px;
        font-size: 1.2rem;
        color: white;
    }
    
    .fab:hover{
        /* color:rgb(250, 95, 229);  */
        /*Alternative colour--- */
        /* color:  #2c2c2c;  */
      /*    color:#9336FF;  */
         color: #bb51ce;  
    /*     color:#00FFFB; */
        text-decoration: none;
    } 
    
    
    
    /*-------------- Scroll up to top button -----------------*/
      
    .cta-button-3{
        /*  border: 2px solid green;  */
       /*  display: table-cell;  */
        text-align: center; 
        width: 100%;
        padding: 2%;
    }
    
     .cta-button-3 a {
        border:1px solid white; 
        display: inline-block;
        color:white;
        text-decoration: none;
        padding: 0.5em 0.5em;
        border-radius: 50%;
        font-size: 1.5em;
        }
        
    .cta-button-3 a:hover {
        color: white;
        text-decoration: none;
        box-shadow: inset 0 -2em 0 rgba(187, 81, 206, 0.5);
        } 
    
    
   /*  ----------large screen and desktop media query ----------  */
    @media (min-width:770px) and (max-height: 1883px)   {
       
        .cta-button-3{
            text-align: end;
       /*      padding-right: 3%; */
        }

        #bg_projects h1 {
            /* padding-right: 3rem; */
            padding-left: 4rem;
            padding-bottom: 0;
            font-size: 4rem;
        }

        #bg_projects p {
            padding-left: 4rem;
            padding-bottom: 2.5rem;
            padding-top: 3%;
            font-size: 1.8rem;
            line-height: 3rem;
        }

    
        #project1 {
           padding: none; 
        }

        #project1 p{
            font-size: 1.2rem;
            line-height: normal;
            padding-left: 3rem;
            font-size: 1.3rem;
        }

        #project2 p{
            font-size: 1.3rem;
            line-height: normal;
        }
        
        #project1 h2{
            font-size: 2.5rem;
            
        }

        #project3 p{
            font-size: 1.3rem;
            line-height: normal;
        }

        .container_fluid_project1 p {
            padding-left: 1.9rem;
            padding-right: 1.9rem;
        }

        #project1 h2 {
            /* padding: 1.9rem; */
            padding-left: 3rem;
            padding-bottom: 1rem;
        }

        .container_fluid_project2 p {
            padding-left: 1.9rem;
            padding-right: 1.9rem;
        }

        #project2 h2 {
            padding: 1.9rem;
            padding-bottom: 1rem;
            color: white;
            font-size: 2.5rem;
        }

        .container_fluid_project3 p {
            padding-left: 1.9rem;
            padding-right: 1.9rem;
        }

        #project3 h2 {
            padding: 1.9rem;
            padding-bottom: 1rem;
            font-size: 2.5rem;
        }

        .pic1{
            margin: 45px;
        }

                
        .pic1 img{
            width: 200px;
            height: 200px;
        }

        .pic2{
            margin: 45px;
        }

        

        .pic2 img{
            width: 200px;
            height: 200px;
        }

        /* .pic3{
            margin: 45px;
        } */

        .pic3 img{
            width: 200px;
            height: 200px;
        }

        .privacy{
            text-align: left;
            padding-top: 5%;
        }
    
    }


     /* ----------iphone 5 media query ----------  */
     @media (min-width: 320px) and (max-height: 677px) { 
         .wave{
           /* display: none; */
           height: 100px;
        } 

        #bg_projects h1 {
            margin-top: 70px; 
            padding-right: 1.6rem;
            padding-left: 1.6rem;
            padding-top: 0;
            padding-bottom: 0;
            font-size: 1.8rem;
        }

        #bg_projects p {
            font-size: 1.1rem;
            line-height: 1.5rem;
   
        }

        .container_fluid_project1 h2 {
            font-size: 1.5rem;
        }

        .container_fluid_project1 p {
            font-size: 1rem;
            line-height: 1.5rem;
            padding-right: 5%;
        }

        #project1 h2 {
            font-size: 1.5rem;
        }

        #project2 h2 {
            font-size: 1.5rem;
            color: white;
        }

        .container_fluid_project2 p {
            font-size: 1rem;
            line-height: 1.5rem;
            padding-right: 5%;
        }

        #project3 h2 {
            font-size: 1.5rem;
        }

        .container_fluid_project3 p {
            font-size: 1rem;
            line-height: 1.5rem;
            padding-right: 5%;
        }
    }



/*   Media queries   */

@media (min-width: 361px) and (max-width: 577px) {

    .container-pictures{
        justify-content: center;
    }


}

@media (min-width: 648px) and (max-width: 924px) {

    .container-pictures{
        justify-content: center;
    }

    .container-pictures .pic1 {
        margin: 10px ;
    }

}