html{
    scroll-behavior: smooth;  
}

body{
    font-size: 1rem;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Monda', sans-serif;
    /* font-weight: 300; */
    margin: 0;
    padding: 0;
    /* background-color: #1D2326; */
    /* background-color: #252627;    */
    /* background-color: #2c2c2c; */
    /* background-color: rgb(52, 58, 64); */
    background-color: #0F0E2E;
}

body p{
    color: white;
    margin-top: 10px;
    font-size: 1.1rem;
    
}

body h1{
    font-size: 4.1rem;
    margin-bottom: .5rem;
    font-family: inherit;
    line-height: 1.2;
    text-align: left;
    padding: 2.5rem;
    padding-bottom: 0;
    color: white;
    font-weight: bold;
    padding-top: 0;
}

body h2{
    color: white;
  /*   font-family: 'Monda', sans-serif; */
    font-size: 2.7rem;
    
}

/*Media querys*/

/* :root {
    --bg_projects-height: 100vh;
    --wave-height: 250px;
    
    @media screen and (min-width: 320px) {
        --bg_projects-height: 136vh;
        --wave-height: 0;
    }

} */

/* @media screen (min-width: 400) and (max-width: 840px) {
    
   

} */



/* @media screen and (max-width: 576px){
    .wave{
        padding-top: 12%;
    }
} */



/* @media (min-width: 320px) and (max-width: 400px) {
    
    #content-projects{
        padding-top: 0%;
        
    }

    .wave{
        padding-top: 33%;
    }

    .bg_projects{
        height: 150vh;
    }

    #container-pictures {
        margin-left: 0;
    }

    .pic1{
        margin: 0;
    }
} */

/* ------------Navbar ----------------*/
/* .sticky-top{
    opacity: 85%;
} */

/* --------- Translation ---------*/
.english{
    display: block;
}

.spanish{
    display: none;
}

/*--------------- nav bar translate  ---------------*/
.languageTranslate{
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

#dropdown09 {
    padding-left: 17px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    background-color: transparent;
}

  .navbar .dropdown.show a { 
    background-color:#161617;
  }
  

  .navbar .dropdown.show a :hover{ 
    background-color: #bb51ce;
  }



.navbar{
 /*    background-color: #0F0E2E!important; */
    background-color: #161617!important;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 10vh;
    font-size: .9rem;
    font-weight: 400; 
}


.nav-link{
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #bb51ce; 
    background: rgba(59, 57, 59, 0.616);
    transition: background .3s;
    border-radius: 5px; 
}

.navbar-dark .navbar-toggler  {
    border: none;
    outline: none;
  }

  .active a{
    font-weight: bold;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #bb51ce; 
}

.logo{
    min-width: 117px;
    max-width: 87px;
    margin-left: 20px;
    border: none;
}

.container{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* background-color: #2c2c2c; */
    /* background-color: rgb(52, 58, 64); */
    background-color: #0F0E2E;
}


#bg_projects{
    width: 100%;
    height: 100vh;
    /* height: var(--bg_projects-height); */
    /* background: #43C6AC;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, hsla(244, 59%, 21%, 0.692), hsla(168, 53%, 52%, 0.589)), url(./img/projects.jpg);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, hsla(244, 59%, 21%, 0.692), hsla(168, 53%, 52%, 0.589)), url(./img/projects.jpg); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(180deg, rgba(26, 22, 85, 0.8) 0%, rgba(68, 197, 172, 0.394125) 99.99%, rgba(13, 186, 124, 0.392) 100%), url('./img/projects.jpg');
    background-size: cover;
    /* background-attachment: fixed; */
    position: relative;
    

}

#bg_projects p {
    display: flex;
    /* height: 430px; */
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.5rem;
    padding-top: 6%;
    /* font-weight: bold; */
    font-size: 1.3rem;
    text-align: left;
    line-height: 2.6rem;
    padding-top: 3%;
}

#bg_projects h1{
    padding: 2.5rem;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-style: none;
    height: 250px;
    /* height: var(--wave-height); */
}

/* #content-projects{
    display: flex; */
    /* height: 430px; */
    /* width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.5rem;
    padding-top: 6%; */
    /* font-weight: bold; */
    /* font-size: 1.3rem;
    text-align: left;
    line-height: 2.6rem;
    padding-top: 3%;
} */

/* #title-projects{
     */
    /* margin-left: auto;
    margin-right: auto; */
    /* text-align: center!important; */
    /* padding: 0;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding: 0 53px 5px; */
    /* box-shadow: inset 0 -0.5em 0 rgba(208, 0, 227, 0.3); */
    /* transition: box-shadow .2s ease-in-out;
    cursor: pointer;
    width: 14%;
    font-size: 3rem;
    margin-top: 20px;
    padding-left: 5%;   
} */

/* .col-12 {
    /* margin-left: auto;
    margin-right: auto; */
/* }  */

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 1%;
}

.texto-support{
    display: flex;
    height: 100vh;
    justify-content: center;
}

.texto-support span {
    margin-top: 0;
}

#centrar{
    justify-content: center;
    margin-top: 7%;
}


/*Container project 1*/

.container_fluid_project1{
    /* padding: 3rem; */
    background-color: white;
    display: flex;
    
}

.container_fluid_project1 p{
    color: #69696C;
    padding-left: 3%;
    padding-right: 3%;
    text-align: left;
    font-size: 1.25rem;
    /* padding-top: 15px; */
    line-height: 2.6rem;
}
.container_fluid_project1 h2{
    color: #0F0E2E;
    
}

#project1{
    padding: 2rem;
    padding-top: 24px;
    
}
#project1 h2{
    font-weight: bold;
    padding: 3%;
    padding-bottom: 0%;
}

#project1 p{
    font-weight: lighter;
}

.container-one{
    margin-left: 24%;
    margin-right: 24%;
}

.container-3{
    margin-left: 1%;
    margin-right: 0;
    /* margin-top: 6px; */
}

/*--------------------OTRA PRUEBA----------------*/
#project1-text{
    padding: 2rem;
    background-color: white;
}

#project1-text p{
    color: grey;
}

#project1-text h2{
    color: #0F0E2E;
    font-weight: bold;
}


/* #pictures1{
    display: flex;
    background-color: white;
    padding: 1rem;
    
} */
/* .pic1{
    border-radius: 50%;
    background-color: teal;
    height: 170px;
    width: 170px;
    margin-left: 10%;
    
}

.pic2{
    border-radius: 50%;
    background-color: tomato;
    height: 170px;
    width: 170px;
    margin-left: 15px;
    
}

.pic3{
    border-radius: 50%;
    background-color: blueviolet;
    height: 170px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    
}

#rowRow{
    padding: 3rem;
}

#project-2{
    background-color: wheat;

} */

/* CONTAINER 1 NEW TRY*/

/*   Media queries   */

@media (min-width: 361px) and (max-width: 577px) {

    .container-pictures{
        /* display: flex;
        flex-wrap: wrap; */
        justify-content: center;
    }


}

@media (min-width: 648px) and (max-width: 924px) {

    .container-pictures{
        /* display: flex;
        flex-wrap: wrap; */
        justify-content: center;
    }

    .container-pictures pic1 {
        margin: 10px ;
    }

    #bg_projects h1{
        padding-top: 10%;
    }


}

.projects{
    /* background-color: white; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    
}

.projects .container-pictures{
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 37px; */
    /* margin-right: auto;
    margin-left: auto; */
    padding-bottom: 3rem;
    /* margin-left: 15px; */
}


.pic1{
    /* margin: 30px; */
    margin: 12px;
}

.pic1 img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 7px solid #fff;
    -webkit-box-shadow: 10px 7px 12px 7px rgba(207,118,255,0.79); 
    /* box-shadow: 10px 7px 12px 7px rgba(205, 197, 210, 0.79);   */
    /* box-shadow: 10px 7px 12px 7px #9c95e8;  */
    box-shadow: 10px 7px 12px -5px #b8b8bf;
    border: 3px #fff;
    margin: 23px 22px 5px 5px;
    transition: transform 2s, 1.5s ease-in-out;
}



.pic1 img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}



.pic2{
    /* margin: 30px; */
    margin: 12px;
}

.pic2 img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 7px solid #fff;
    -webkit-box-shadow: 10px 7px 12px 7px rgba(207,118,255,0.79); 
    /* box-shadow: 10px 7px 12px 7px rgba(205, 197, 210, 0.79);   */
    /* box-shadow: 10px 7px 12px 7px #9c95e8;  */
   /*  box-shadow: 10px 7px 12px -5px #b8b8bf; */
    box-shadow: 2px 4px 20px rgba(68, 197, 172, 0.5);
    border: 3px #fff;
    margin: 23px 22px 5px 5px;
    transition: transform 2s, 1.5s ease-in-out;
}



.pic2 img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}



.projects h6{
      color: #69696C;
      margin-top: 8%;
}




/*Container project 2*/

/* .container_fluid_project2{
    background-color: #0F0E2E;
    padding: 3rem;
} */

/* .pic4{
    height: 200px;
    width: 200px;
    background-color: blue;
    background-image: url(./img/img-4.png);
}

.pic5{
    height: 200px;
    width: 200px;
    background-color: purple;
    background-image: url(./img/img-5.png);
}

.pic6{
    height: 200px;
    width: 200px;
    background-color: orange;
    background-image: url(./img/img-6.png);
} */
.mb-3, .my-3 {
    margin-bottom: 2rem!important;
}
.container_fluid_project2 {
    padding: 3.5rem;
    background: linear-gradient(to right, hsla(244, 59%, 21%), hsla(168, 53%, 52%));
    /* background: linear-gradient(to right, hsla(244, 59%, 21%, 0.692), hsla(168, 53%, 52%, 0.589)); */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

}
.container_fluid_project2 h2{
    font-weight: bold;
    padding: 2%;
    padding-bottom: 0%;
}


.container_fluid_project2 p{
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
    font-size: 1.25rem;
    /* padding-top: 15px; */
    line-height: 2.6rem;
}

#projects-2{
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}

#project2 h2{
    font-weight: bold;
    padding: 2%;
    padding-bottom: 0%;
}

.projects .container-images{
    display: flex;
    flex-wrap: wrap;
    margin-left: 37px;

}
.pic4{
    margin: 23px;
}

.pic4 img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 7px solid #fff;
    -webkit-box-shadow: 10px 7px 12px 7px rgba(207,118,255,0.79); 
    /* box-shadow: 10px 7px 12px 7px rgba(205, 197, 210, 0.79);   */
    box-shadow: 5px 7px 12px 7px #969696; 
    border: 3px #fff;
}



#text-biotech{
    margin-top: 1rem;
}

#text-biotech h2{
    font-weight: bold;
}

.container_fluid_project2 {
    padding: 2rem;
}
#texts{
    margin-top: 14%;
    padding: 2rem;
    font-weight: lighter;
}

/*Container project 3*/

.container_fluid_project3{
    /* background-color: white;
    padding: 3rem; */
    background-color: white;
    display: flex;
}

.container_fluid_project3 h2{
    color: #0F0E2E;
    font-weight: bold;
    padding: 3rem;
    padding-bottom: 0%;
}

.container_fluid_project3 p{
    color: #69696C;
    padding-left: 3%;
    padding-right: 3%;
    text-align: left;
    font-size: 1.25rem;
    /* padding-top: 15px; */
    line-height: 2.6rem;
}

#project3{
    padding: 2.5rem;
    padding-top: 24px;
}

#project3 h2 {
    font-weight: bold;
    padding: 3%;
    padding-bottom: 0%;
}

#space{
    padding: 1rem;
}

.pic1 p{
    font-size: 1rem;
}




/* ---------------- Footer ------------------*/
/* .site-footer {
   background: linear-gradient(to bottom, purple, rebeccapurple); 
    /* Alternative colour--- background: linear-gradient(to bottom, #5922D5, #B096EA);  */
/*   padding: 30px 0; 
  }  */

  #footer{
    /*  width: 100%; */
    /*  margin-top: auto;  */
        background: #161617;
        padding-top: 30px; 
        padding-bottom: 30px; 
       
    }
    
    
    .footer-box{
    /*   border:1px solid blue;  */
        display: flex;
        justify-content: center;
    }
    
    
    .social-icons{
     /* border:1px solid green;  */
        text-align: center;
    }
    
    /*  
    .copyright {
        border:1px solid red;
       
    } */
     
    .copyright h4{
        color: white;
        font-size: 1rem;
    /*  font-weight: bold; */
        text-align: center;
        padding-top: 4%;
    }
    
    /* .translate h4{
        color:#bb51ce;
        font-size: 1rem;
        text-align: left;
    }
     */
    
    
    .fa {
        padding: 10px 15px 5px;
        font-size: 1.2rem;
        color:white;
        padding-bottom: 1%;
        
    }
    
    .fa:hover{
       /*  color:#00FFFB; */
      /*   color:#9336FF;   */
      color: #bb51ce;  
       /*  color:rgb(250, 95, 229);  */
        /*Alternative colour---   */
       /*  color:  #2c2c2c; */
        text-decoration: none;
    }
    
    
    
    .fab {
        padding: 10px 15px 5px;
        font-size: 1.2rem;
        color: white;
    }
    
    .fab:hover{
        /* color:rgb(250, 95, 229);  */
        /*Alternative colour--- */
        /* color:  #2c2c2c;  */
      /*    color:#9336FF;  */
         color: #bb51ce;  
    /*     color:#00FFFB; */
        text-decoration: none;
    } 
    
    
    
    /*-------------- Scroll up to top button -----------------*/
      
    .cta-button-3{
        /*  border: 2px solid green;  */
       /*  display: table-cell;  */
        text-align: center; 
        width: 100%;
        padding: 2%;
    }
    
     .cta-button-3 a {
        border:1px solid white; 
        display: inline-block;
        color:white;
        text-decoration: none;
        padding: 0.5em 0.5em;
        border-radius: 50%;
        font-size: 1.5em;
        }
        
    .cta-button-3 a:hover {
        color: white;
        text-decoration: none;
        box-shadow: inset 0 -2em 0 rgba(187, 81, 206, 0.5);
              /* Alternative colour */
           /*  box-shadow: inset 0 -2em 0 rgba(89,34,213, 0.5);  */
           /* box-shadow: inset 0 -2em 0 rgba(208, 0, 227, 0.3); */ 
           /* box-shadow: inset 0 -2em 0 rgba(250, 95, 229, 0.3); */
         
        } 
    
    
    /* -----------/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) -----------*/
    @media (min-width:770px) and (max-height: 1366px)   {
       
        .cta-button-3{
            text-align: end;
        }
    
    }

    /* .display{
        display: flex;
    }
    .float{
        float: left;
    }

    #up-bottom{
        margin-right: 41%;
    }

    /* .boton_redondo{
        margin-left: 20%;
    } */

    @media (min-width: 320px) and (max-width: 466px) {
        #bg_projects{
            height: 149vh;

        }

        #bg_projects h1{
            padding-top: 38%;
            padding-bottom: 9%;
        }

        .wave {
            height: 139px;
        }

        #project1 p {
            padding: 1rem;
            padding-right: 2rem;
        }

        #project3 h2{
            padding: 1rem;
            padding-right: 2rem;
        }


        #project3 p{
            padding: 1rem;
            padding-right: 2rem;
        }
        
    }
    
    @media (min-width: 466px) and (max-width: 757px) {
        
        #bg_projects {
            height: 130vh;
        
        }
        
        #bg_projects h1 {
            /* padding-top: 30%; */
            margin-top: 7%;
            padding-bottom: 7px;
            
        }
    }

    @media (max-width: 1200px){
        #support-page {
            padding-right: 0%;
            margin-top: 5%;
            padding-top: 9%;
        }
    }
    
     @media (min-width: 878px) {
        /* .container-fotos {
            display: flex; 
            margin-left: 21rem; 
            margin-right: 21rem;
        } */
        .row{
            display: flex;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
            /* margin: 45px; */
    
        }
    } 


    @media (min-width:770px) and (max-height: 930px)   {
   
        /* .form-padding{
            padding-right: 5%;
            padding-left: 5%;
        } */
        #bg_projects{
            height: 106vh;
            padding-top: 0;
        }

        #bg_projects h1{
            /* padding-top: 4%; */
            padding-bottom: 2%;
        }

        .container-pictures{
            width: 104%;
        }

        /* .pic1{
            margin-right: 0;
        } */
    }


    @media (min-width: 621px) and (max-width: 648px) {
        .container-pictures{
            /* margin-left: auto; */
            /* margin-right: auto; */
            /* margin-left: 65%; */
            display: flex;
            flex-wrap: wrap;
            /* margin-left: 37px; */
            padding-bottom: 3rem;
            /* margin-left: 15px; */
            margin-left: 25%;
            /* margin-right: auto;*/
        }

        .container-3{
            /* margin-left: 105px; */
            margin-left: -55px;
            margin-left: 2px;
        }

    }

    /* @media (min-width: 649px) and (max-width: 769px) {


    } */

    @media (min-width: 1640px) and (max-width: 2500px) {
        #bg_projects h1 {
        padding-top: 5%;
        }

    }


    @media (max-width:320px) and (max-height: 370px)  { 
        #bg_projects h1{
            padding-top: 7%;
        }
       
        #bg_projects p {
            padding-top: 5%;
        }
    } 

      /* ----------iphone 5 media query ----------  */
     @media (max-width: 375px) { 
        .wave{
           display: none;
        }
    }


    /*Media queries for Iphone5*/

    /* @media only screen and (min-device-width : 320px) and (max-device-width : 361px) { 
        #bg_projects h1{
            padding-top: 28%;
        }
       
        
    
    } */

  

    