

 body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
 
 
 html{
  scroll-behavior: smooth;
} 


body{
  /*   font-family: 'Open Sans', sans-serif; */
    font-family: 'Monda', sans-serif;
   /*  background-color: #2C2C2C; */
   /*  background-color: #0F0E2E; */

  background-color: white; 
   /* background: -webkit-linear-gradient(to right, hsl(244, 59%, 21%), hsl(168, 53%, 52%));  */ /* Chrome 10-25, Safari 5.1-6 */
   /*  background: linear-gradient(to right, hsl(244, 59%, 21%), hsl(168, 53%, 52%));  *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /*  display: flex;
    flex-direction: column; 
     min-height: 100%; */
}



/* Home page container */
.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .site-content {
    flex: 1;
  }


/* Navbar */
/* .sticky-top{
    opacity: 85%;
} */
.navbar{
 /*    background-color: #0F0E2E!important; */
    background-color: #161617!important;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 10vh;
    font-size: .9rem;
    font-weight: 400;
    /* box-shadow: 0 2px 4px 0 rgb(0, 0, 0, .5); */
    /* background-color: #2c2c2c; */
    
    
}
/* .bg-dark{
    background-color: #0F0E2E!important!;
} */



.nav-link{
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover{
    /* color: #00FFFB; */
    color: #9336FF;
}

.logo{
    min-width: 117px;
    max-width: 87px;
    margin-left: 20px;
    border: none;
}

.container{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* background-color: #2c2c2c; */
    /* background-color: rgb(52, 58, 64); */
    background-color: #0F0E2E;
}


/* Home section */
#home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(244, 59%, 21%, 0.692), hsla(168, 53%, 52%, 0.589)), url(https://s4.gifyu.com/images/Background-image-spiral-dark.md.png);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(244, 59%, 21%, 0.692), hsla(168, 53%, 52%, 0.589)), url(https://s4.gifyu.com/images/Background-image-spiral-dark.md.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-size: cover; */
    /* background-attachment: fixed; */
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
}


/* Scroll down button */
#home .cta-button {
    text-align: center; 
    padding: 5% 0;
    padding-top: 15%; 
  
  }

  #home .cta-button a {
    border:1px solid white; 
    display: inline-block;
    color:white;
    /* background-color: white;
    color:#800080; */
    text-decoration: none;
    padding: 0.5em 0.5em;
    border-radius: 50%;
    /* box-shadow: inset rgba(94, 6, 75, 0.466) 0 2px 1px, inset rgba(0,0,0,0.3) 0 -2px 1px; */
    font-size: 1.5em;
  }
  
  #home .cta-button a:hover {
    color: white;
    /* box-shadow: inset 0 -2em 0 rgba(208, 0, 227, 0.3);  */
    /*Alternative colour---  */
  /*   box-shadow: inset 0 -2em 0 rgba(89,34,213, 0.5); */
    box-shadow: inset 0 -2em 0 rgba(147,54,255, 0.5);
  } 
 
  
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-style: none;
}


.col-12 {
    margin-left: auto;
    margin-right: auto;
}


/* ----------iphone 5 media query ---------- */
@media (max-width: 575.98px) { 
    #home .cta-button {
          margin-top: 50px; 
      }

      #home{
        height: 105vh;
    }
}


/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
/* @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    #home .cta-button {
        margin-top: 200px; 
    }
}
 */
/* Home section Heading and subheading */
.landing_text{
    justify-content: center;
    text-align: center;
    vertical-align: middle; 
    
}

.landing_text h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-top: 230px; 
}

.landing_text h4 {
    color: white;
    padding-right:5%;
    padding-left:5%; 
}

/*----------  iphone 5 media query ---------- */
/* @media (max-width: 575.98px) { 
    .landing_text h1 {
        font-size: 1.8rem;
        margin-top:250px;
    }
    
    .landing_text h4 {
        font-size: 1rem;
    }
    
}
 */
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
/* @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
     .landing_text h1 {
        margin-top:300px;
    } 
    
    .landing_text h4 {
        margin-top: 10px;
        font-size: 1.7rem;
    }
}
 */

/* -----------/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) -----------*/
@media (min-width:770px) and (max-height: 1366px)  { 
    
    .landing_text{
        justify-content: flex-start; 
        text-align: left; 
    }
    
    .landing_text h1 {
        font-size: 5em;
        padding-left: 3%;
        /* margin-top: 350px; */
    }
    .landing_text h4 {
        padding-right:0;
      /*   padding-left:0;  */
        padding-left: 7%;
    }
    
    
    
    /* .landing_text h1 {
        margin-top:500px;
    }  */
   /*  #home .cta-button {
        padding-top: 30%;
    } */
    
 }

 /* -----------Laptop Non-Retina Screens ----------- */
/*  @media screen 
and (min-device-width: 1200px) 
and (max-device-width: 2560px) 
and (-webkit-min-device-pixel-ratio: 1) { 

.landing_text{
    justify-content: flex-start;  
}

.landing_text h1 {
    font-size: 5em;
    margin-top: 350px;
}

#home .cta-button {
  padding-top: 10%;
}


  
} */ 


/* ----------- Small laptop Non-Retina Screens ----------- */
/* @media screen 
and (max-device-width: 1200px) 
and (max-device-height: 774px) 
and (-webkit-min-device-pixel-ratio: 1) { 
    
.landing_text{
        justify-content: flex-start;  
}

.landing_text h1 {
    font-size: 5em;
    margin-top: 350px;
}

#home .cta-button {
  padding-top: 10%;
}

  
}  */


/*  .highlight {
   background-color: purple; 
    box-shadow: inset 29px 33px 500px 600px rgba(230, 77, 235, 0.295);
  padding-left: 5px;
    padding-right: 5px;
    border-radius: 5%;
    z-index: 1; 
  }
 */
 .highlight {
    text-decoration: none;
    color:white;
    font-family: sans-serif;
    padding: 0 5px 5px;
    /* box-shadow: inset 0 -0.5em 0 rgba(208, 0, 227, 0.3);  */
   /*Alternative colour--- */
 /*    box-shadow: inset 0 -0.5em 0 rgba(89,34,213, 0.5); */
    box-shadow: inset 0 -0.5em 0 rgba(147,54,255, 0.5);
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
  }

  

  .highlight:hover {
    color: white;
    text-decoration: none;
    /* Alternative colour---  */
   /*  box-shadow: inset 0 -1.5em 0 rgba(89,34,213, 0.5); */
    box-shadow: inset 0 -1.5em 0 rgba(147,54,255, 0.5);
    /* box-shadow: inset 0 -1.5em 0 rgba(208, 0, 227, 0.3);  */
  }




/* padding for containers */
.padding{
    padding: 50px 0;
}

.padding img{
    width: 100%;
}

/* what we do content and background colour */
.about-us{
    color: white;
    background-color: #0F0E2E;
    height: 35vh;
    width: 100%;
    padding-left: 45px;
}


.about-us h1{
    margin-top: 40px;
    text-align: left;
    font-size: 2.2rem;
    font-weight: bold;
}

.about-us p{
    font-size: 1.2rem;
    text-align: left;
    padding-top: 8px;
    padding-right: 4%;
}


/* iphone 5 media query */
 @media (min-width:320px) and (max-height: 680px)  { 
    .about-us{
        height: 46vh;
    }
   
    .about-us h1{
        margin-top: 50px;
        font-size: 1.9rem;
    }
    .about-us p{
       font-size: 1.1rem;
       padding-bottom: 10%;
       padding-top: 6%;
    }

} 


/* -----------/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) -----------*/
@media (min-width:770px) and (max-height: 1366px)  {
    .about-us{
        height: 35vh;
    }

    .about-us h1{
        margin-top: 20px;
        font-size: 2.8rem;
    }
    .about-us p {
        font-size: 1.8rem;
        padding-top: 20px;
        line-height: 27px;
        padding-right: 20%;
        line-height: 2.6rem;

    }
}

 /* ----------- Laptop Non-Retina Screens ----------- */
/*  @media screen 
and (min-device-width: 1000px) 
and (max-device-width: 2560px) 
and (-webkit-min-device-pixel-ratio: 1) { 
    .about-us{
        height: 35vh;
    }

    .about-us h1{
        margin-top: 100px;
        font-size: 2rem;
    }
    .about-us p {
        font-size: 1.5rem;
        padding-top: 10px;
    }

}  */



/* Corona discharge image and text */

/* .corona-discharge{
    border: 1px solid pink;
} */
.corona-discharge h2{
    padding-left: 4.5%;
    text-align: left; 
    /* color: white; */
    color: #0F0E2E;
    font-weight: bold;
    padding-bottom: 5%;
}

.corona-discharge p{
    padding-left: 4.5%;
    padding-right: 4.5%;
    text-align: left; 
    /* color: white; */
    /* color: #0F0E2E; */
    color: #69696C;
    font-size: 1.1rem;
    padding-top: 15px;
}


.corona-image{
    display:flex;
    justify-content: center;
    padding: 50px; 
   /*  border: 1px solid pink; */
}


.corona-image img{
    align-items: center;
    transition: transform .2s;
    margin: 0 auto;
   /*  padding-left: 70px;  */
    cursor: pointer;
    height: auto; 
    width: auto; 
    max-width: 280px;
    max-height: 280px;
 /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  */
    /* background-color: white; */
   /*  border-radius: 5px; */
   /*  padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%; */
}


.corona-image img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }


  .highlight2 {
    text-decoration: none;
    color: #0F0E2E;
    font-family: sans-serif;
    padding: 0 5px 5px;
    /* box-shadow: inset 0 -0.5em 0 rgba(208, 0, 227, 0.3);  */
   /*Alternative colour--- */
 /*    box-shadow: inset 0 -0.5em 0 rgba(89,34,213, 0.5); */
    box-shadow: inset 0 -0.5em 0 rgba(147,54,255, 0.5);
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
  }

  

  .highlight2:hover {
    color: #0F0E2E;
    text-decoration: none;
    /* Alternative colour---  */
   /*  box-shadow: inset 0 -1.5em 0 rgba(89,34,213, 0.5); */
    box-shadow: inset 0 -1.5em 0 rgba(147,54,255, 0.5);
    /* box-shadow: inset 0 -1.5em 0 rgba(208, 0, 227, 0.3);  */
  }






/* Scroll down button from about to device features */
/* .cta-button-2{ */
    /* border: 2px solid green; */
   /*  display: table-cell; 
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
}

    #about .cta-button-2 {
      text-align: center; 
        padding: 1% 0;
    }
  
    #about .cta-button-2 a {
        border:1px solid white;
        margin-top: 50px; 
        display: inline-block;
        color:white;
        text-decoration: none;
        padding: 0.5em 0.5em;
        border-radius: 50%;
        font-size: 1.5em;
    }
    
    #about .cta-button-2 a:hover {
        color: white;
        text-decoration: none;
        box-shadow: inset 0 -2em 0 rgba(208, 0, 227, 0.3); */
       /*  color: white;
        background-color: orange;
        box-shadow: none; */
 /*    }  */


    @media (min-width:600px) and (max-height: 1366px)   {
        .corona-discharge h2{
            font-size: 2rem;
            padding-bottom: 5%;
        }
                
       /*  .corona-image{
            padding-top: 6.5%;  */
        /*  border: 1px solid pink; */
/* } */
        .corona-image img{
           /*  padding: 50px; */
            max-width: 450px;
            max-height: 450px;
        }

        
        .corona-discharge p{
            font-size: 1.5rem;
            line-height: 2.6rem;
        }

        /* #about .cta-button-2 a{
            margin-top: none;
        } */
    }


 /* ----------- Non-Retina Screens ----------- */
 /* @media screen 
and (min-device-width: 1200px) 
and (max-device-width: 2560px) 
and (-webkit-min-device-pixel-ratio: 1) { 


}  */


/* iphone 5 media query */
/* @media (max-width: 575.98px) { 
    .corona-discharge h2{
        font-size: 2rem;
    }
    
    .corona-discharge p{
        padding-bottom: 10%;
    }

    .corona-image img{
        padding-bottom: 20%;
    }
    
}
 */
/* @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .corona-discharge p{
        padding-bottom: 10%;
        font-size: 1.5rem;
    }

} */





/* Line separator between about and device features section */
hr {
    margin-top: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid rgb(221, 219, 219); 
    }
  




/* device features content and images */
.device-features{
    /* border: 3px solid red; */ 
    display: table-cell;
    justify-content:center;
    width: 100%;
    padding-bottom: 50px;
    background-color: #0F0E2E;
    height: 35vh;
  }  

 .device-features h2, p{
    text-align: center;
    vertical-align: middle;
  }  

  .device-features  p{
    color: white;
    font-size: 1.3rem;
    padding-bottom: 10%;
   /*  padding-right: 20%;
    padding-left: 20%; */
  }  


  .device-features h2 {
    color: white;
    font-weight: bold;
    padding-bottom: 30px;
    font-size: 1.8rem;
    margin-top: 30px;

  }  

 .device-images{
    padding-right: 15%;
    padding-left: 15%;
}
 


.device-img{
 /*  border: 3px solid red; */
    display: flex;
   /*  margin:10px; */
 /*  border:1px solid blue;  */ 
    justify-content:center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.device-img img{
    height: 100px;
    width: 100px;
    flex:0 1 auto;
    align-self:center;
    transition: transform .2s;
    margin: 0 auto;
    cursor: pointer;
 /*  border:1px solid red;  */
}

.device-img img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.device-heading h5 {
    justify-content: center;
    text-align: center;
    color: #69696C;

}


.device-heading p {
    justify-content: center;
    text-align: center;
    font-size:0.8rem;
    color: #69696C;
}


/* iphone 5 media query */
@media (max-width: 575.98px) { 
    .device-features{
         padding-bottom: 5%;
       }  
    
  .device-features h2 {
    font-size: 1.5rem;

  }  

}


/* @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
   
 .device-features p {
   font-size: 1.5rem;
 }  

 h5 {
    padding-bottom: 40%;
  }  
 
.device-img{
     padding-top: 20%;
     padding-bottom: 10%;
 }

} */



@media (min-width:600px) and (max-height: 1366px)   {
    .device-features h2{
        font-size: 2rem;
        padding-top: 2%;
    }

    .device-features  p{
        padding-right: 20%;
        padding-left: 20%; 
        font-size: 1.5rem;
      }  


      .device-img{
           padding-top: 20%;
       }
      
}



/* Footer */
/* .site-footer {
   background: linear-gradient(to bottom, purple, rebeccapurple); 
    /* Alternative colour--- background: linear-gradient(to bottom, #5922D5, #B096EA);  */
/*   padding: 30px 0; 
  }  */

#footer{
  /*   width: 100%; */
   /*  margin-top: auto;  */
    background: #161617;
    padding-top: 30px; 
    padding-bottom: 30px; 
   
}


.footer-box{
/*    border:1px solid blue;  */
    display: flex;
    justify-content: center;
}


.social-icons{
 /*  border:1px solid green;  */
    text-align: center;
}



/*  
.copyright {
    border:1px solid red;
   
} */
 
.copyright h4{
    color: white;
    font-size: 1rem;
   /*  font-weight: bold; */
    text-align: center;
    padding-top: 4%;
}

.fa {
    padding: 10px 15px 5px;
    font-size: 1.2rem;
    color:white;
    padding-bottom: 1%;
    
}

.fa:hover{
   /*  color:#00FFFB; */
    color:#9336FF;  
   /*  color:rgb(250, 95, 229);  */
    /*Alternative colour---   */
   /*  color:  #2c2c2c; */
    text-decoration: none;
}



.fab {
    padding: 10px 15px 5px;
    font-size: 1.2rem;
    color: white;
}

.fab:hover{
    /* color:rgb(250, 95, 229);  */
    /*Alternative colour--- */
    /* color:  #2c2c2c;  */
     color:#9336FF;  
/*     color:#00FFFB; */
    text-decoration: none;
} 



/* Scroll up to top button */
  
.cta-button-3{
    /*  border: 2px solid green;  */
   /*  display: table-cell;  */
    text-align: end;
    width: 100%;
    /* padding-bottom: 60px; */
}

 .cta-button-3 {
    /*   text-align: center;  */
        padding: 2%;
       /*  margin-top: 600px; */
    
    }
  
 .cta-button-3 a {
    border:1px solid white; 
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: 0.5em 0.5em;
    border-radius: 50%;
    font-size: 1.5em;
    }
    
    .cta-button-3 a:hover {
        color: white;
        text-decoration: none;
        box-shadow: inset 0 -2em 0 rgba(147,54,255, 0.5);
          /* Alternative colour */
       /*  box-shadow: inset 0 -2em 0 rgba(89,34,213, 0.5);  */
       /* box-shadow: inset 0 -2em 0 rgba(208, 0, 227, 0.3); */ 
       /* box-shadow: inset 0 -2em 0 rgba(250, 95, 229, 0.3); */
     
    } 



/* ---------------- Contact Us page---------------- */
/* #contact-us{
    background-image: url('https://s0.gifyu.com/images/Team-work-1--cropped.md.jpg'); 
    height: 100vh;  
    background-attachment: fixed;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 29px 33px 500px 600px rgba(9, 1, 10, 0.692); */
    /* display: table;
    height: 100vh; 
    position: relative;
    width: 100%;
    background-size: cover; */
/* } */
/* #contact-us{
    background: url("https://s0.gifyu.com/images/Team-work-1--cropped.md.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     box-shadow: inset 29px 33px 500px 600px rgba(9, 1, 10, 0.692);
}
 */


/* I think you need to find a way to identify the target url, and if it is the home page, add the fixed property. If not, then remove the fixed property
 */


 
/* Contact-us do content and background colour */
.google-maps{
    overflow:hidden;
    padding-bottom:40%;
    position:relative;
    height:0;
}
.google-maps iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    padding-right: 10%;
    padding-left: 10%;
}

/* .box{
    border: 1px solid white;
} */


.contact-box-1{
   /*  background: url("https://s0.gifyu.com/images/Team-work-1--cropped.md.jpg") no-repeat center center fixed; */
   background: linear-gradient(to right, hsla(244, 59%, 21%, 0.692), hsla(168, 53%, 52%, 0.589)), url(https://s0.gifyu.com/images/Team-work-1--cropped.md.jpg);
 /*   opacity: 90%; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/*     box-shadow: inset 29px 33px 500px 600px rgba(9, 1, 10, 0.692); */
    padding: 10px 30px 10px;
}


.contact-box-1 .btn{
    padding: 8px;
}

.contact-box-1 h2{
    text-align: left;
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
    padding-left: 8%;
}

.contact-box-1 p{
    font-size: 1.2rem;
    text-align: left;
    padding-top: 8px;
    padding-right: 4%;
    color: white;
    padding-left: 8%;
}


.color-text{
    color:#00FFFB; 
    cursor: pointer;
}


.color-text:hover{
    color: rgb(201, 166, 206);
}


.form-padding{
    padding-right: 5%;
    padding-left: 5%;
}


#defaultContactFormName, #defaultContactFormEmail, #exampleFormControlTextarea2{
   /*  background-color:#7d7d7d; */
   background-color: #BED5CF;
    border: none;
    opacity: 70%;
    font-weight: bold;
} 


#exampleFormControlTextarea2{
    padding-bottom: 30px;
}



form .form-control::-webkit-input-placeholder { 
    color: rgb(137, 137, 148);
    font-size: 0.9rem;
  }
  
form .form-control::-moz-placeholder {
    color: white;
    font-size: 0.9rem;
  }
form .form-control:-ms-input-placeholder {
    color: white;
    font-size: 0.9rem;
  }
form .form-control:placeholder {
    color: white;
    font-size: 0.9rem;
  }

  .form-control {
    color: white;
} 

/* 

#form-email, #form-name, #form-message{
    background-color:#7d7d7d;
    border: none;
    opacity: 70%;
    font-weight: bold;
} 


#form-message{
    padding-bottom: 100px;
}


input[type="name"] {
    color:white;
}

.form-control{
    color:white;
}

form .form-control::-webkit-input-placeholder { 
    color: white;
    font-size: 0.9rem;
  }
  
form .form-control::-moz-placeholder {
    color: white;
    font-size: 0.9rem;
  }
form .form-control:-ms-input-placeholder {
    color: white;
    font-size: 0.9rem;
  }
form .form-control:placeholder {
    color: white;
    font-size: 0.9rem;
  }

  .form-control:focus {
    border-color: rgba(89,34,213, 0.5);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(89,34,213, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(89,34,213,0.6);
  } */

/* 
  .form-control {
    color: white;
} */

 .btn{
    background-color:transparent;
    border-color: white;
    font-weight: bold;
    padding-left: 255px;
    padding-right: 255px;
}

.btn:hover {
    color:white;
    /* box-shadow: inset 0 -3em 0 rgba(89,34,213, 0.6); */
    box-shadow: inset 0 -3em 0 rgba(0, 255, 251, 0.5) ;
     /*  color:#00FFFB; */
    background-color: transparent;
    border-color: transparent;
   /*  color: #69696C; */
    /* color: #0F0E2E; */
}
/* 
.map-area{
    padding-left: 100px;
}


.map-area h6{
    color: white;
}


.map{
    border-radius: 5px;
} */
/* .map-container-6{
    overflow:hidden; */
    /* padding-bottom:56.25%; */
  /*   position:relative;
   
    } */
    /* .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    padding: 5%; */
   /*  width:650px; 
    height: 350px; */
  
 
 .contact-box-2 h6{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #69696C;
    padding-left: 10%;
/*     color: white;  */
}

.contact-box-2 p{
    text-align: start;
    font-size: 1rem;
    color: #69696C;
    line-height: 5px;
    padding-left: 10%;
/*     color: white; */
}
