

 body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
 
 
 html{
  scroll-behavior: smooth;
} 


body{
    font-family: 'Monda', sans-serif;
    background-color: white; 
}



/* Home page container */
.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .site-content {
    flex: 1;
  }


/* ------------Navbar ----------------*/
/* .sticky-top{
    opacity: 85%;
} */

/* --------- Translation ---------*/
.english{
    display: block;
}

.spanish{
    display: none;
}

/*--------------- nav bar translate  ---------------*/
.languageTranslate{
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

#dropdown09 {
    padding-left: 17px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    background-color: transparent;
}

  .navbar .dropdown.show a { 
    background-color:#161617;
  }
  

  .navbar .dropdown.show a :hover{ 
    background-color: #bb51ce;
  }



.navbar{
 /*    background-color: #0F0E2E!important; */
    background-color: #161617!important;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 10vh;
    font-size: .9rem;
    font-weight: 400; 
}


.nav-link{
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #bb51ce; 
    background: rgba(59, 57, 59, 0.616);
    transition: background .3s;
    border-radius: 5px; 
}

.navbar-dark .navbar-toggler  {
    border: none;
    outline: none;
  }

  .active a{
    font-weight: bold;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #bb51ce; 
}


.logo{
    min-width: 117px;
    max-width: 87px;
    margin-left: 20px;
    border: none;
}

.container{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #0F0E2E;
}


/*--------------- Home section ---------------*/


#home{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background: #0F0E2E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(244, 59%, 21%, 0.692), hsla(168, 53%, 52%, 0.589)), url(./img/Homepage-background.jpg); 
    background: linear-gradient(to right, rgba(20, 11, 54, 0.692), hsla(168, 45%, 2%)), url(./img/Homepage-background.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* background: linear-gradient(to right, rgba(20, 11, 54, 0.692), hsla(168, 45%, 2%)), url(./img/Homepage-background.png); */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* background-size: cover; */
/* background-attachment: fixed; */
/* Background image is centered vertically and horizontally at all times */
/* background-position: center center; */
/* Background image doesn't tile */
/* background-repeat: no-repeat; */
/* Background image is fixed in the viewport so that it doesn't move when 
 the content's height is greater than the image's height */
/* background-attachment: fixed; */
/* This is what makes the background image rescale based
 on the container's size */
/* background-size: cover; */

/* Scroll down button */
 /* #home .cta-button {
    text-align: center; 
    padding: 5% 0;
    padding-top: 15%; 
  
  }  */

  /* #home .cta-button a { */
  /*   border:1px solid white;  */
  /*   display: inline-block;
    color:white;  */
   /*  text-decoration: none;
    padding: 0.5em 0.5em; */
    /* border-radius: 50%;  */
    /* box-shadow: inset rgba(94, 6, 75, 0.466) 0 2px 1px, inset rgba(0,0,0,0.3) 0 -2px 1px; */
   /*  font-size: 1.5em;*/
 /*  } 
  
  #home .cta-button a:hover { */
   /*color: white; */
   /*  box-shadow: inset 0 -2em 0 rgba(208, 0, 227, 0.3);  */
    /*Alternative colour---  */
  /*   box-shadow: inset 0 -2em 0 rgba(89,34,213, 0.5); */
  /*   box-shadow: inset 0 -2em 0 rgba(147,54,255, 0.5);*/
/*   }  */

  
/* .wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-style: none;
}
 

.col-12 {
    margin-left: auto;
    margin-right: auto;
}


/* ----------iphone 5 media query ---------- */
@media (max-width: 360px) { 
  /*   #home .cta-button {
          margin-top: 50px; 
      } */

      #home{
        height: 105vh;
    }
}


/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
/* @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    #home .cta-button {
        margin-top: 200px; 
    }
}
 */
/* Home section Heading and subheading */



/* .box{
    border: 1px solid white;
} */

.landing-box-1{
    overflow:hidden;
   /*padding-top: 90px; */
    justify-content: flex-start; 
    align-items: center;
  /*padding-right: 30px; */
}

.landing-box-1 h1 {
    text-align: center;
    font-size: 2.2rem;
    margin-top: 60px;
    color: white;
    /* letter-spacing: 3px; */
    font-weight: bold;
   } 


.landing-box-1 p {
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    letter-spacing: 2px;
    line-height: 2rem;
    padding-top: 5%;
}


/* ----------- Discover more scroll to next section -------------- */

.landing-box-1 .homeButton{
    display: flex;
    justify-content: center;
    text-align: center;
  /*   padding-top: 30px; */
   
  
   /*  border-width: thin; */
  
}

 .button2{
    font-size: 1rem;
    border: solid 1px white;
    background-color:transparent;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
   /*  font-weight: bold; */
    color: white;
    
    
}

.button2:hover {
    color:white;
    /* box-shadow: inset 0 -3em 0 rgba(89,34,213, 0.6); */
    box-shadow: inset 0 -3em 0 rgba(215, 54, 255, 0.6) ;
     /*  color:#00FFFB; */
    background-color: transparent;
    border-color: transparent;
   /*  color: #69696C; */
    /* color: #0F0E2E; */
    text-decoration: none;
}

@media screen and (min-width: 615px){
    .landing-box-1 p {
        padding-left: 50px; 
        padding-right: 50px;
    }
}

@media screen and (min-width:769px){
	.button2 {display:block}
}
@media screen and (max-width:769px){
	.button2{display:none}
}



/*------------ Landing-box 2 -----------------*/

.landing-box-2 {
    display:flex;
    justify-content: center;
    /* padding: 50px; */
    padding-top: 40px;
}



/* ---------------- Brightness-zoom Container -----------------------*/

.plasma-image {
    text-align: center;
}

.plasma-image img {
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(65%);
/*     margin: 0 auto; */
    /*  padding-left: 70px;  */
     cursor: pointer;
     height: auto; 
     width: 30vh;
     /* max-width: 220px;
     max-height: 220px;  */
  }
  
  /* The Transformation */
  .plasma-image:hover img {
    filter: brightness(100%);
    transform: scale(1.2);
  }
 /*  https://w3bits.com/css-image-hover-zoom/ brighten on zoom
 */


  .highlight {
    font-size: 2.2rem;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1.7s ease-in-out infinite alternate;
    -moz-animation: glow 1.7s ease-in-out infinite alternate;
    animation: glow 1.7s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(22, 3, 32), 0 0 20px #fff, 0 0 30px rgb(198, 54, 255), 0 0 40px rgb(198, 54, 255), 0 0 50px rgb(198, 54, 255), 0 0 60px rgb(198, 54, 255);
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #f04dff, 0 0 40px #f04dff, 0 0 50px #f04dff, 0 0 60px #f04dff, 0 0 70px #f04dff, 0 0 80px #f04dff;
    }
  }



/*   https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_glowing_text */

@media (min-width: 990px) {
    .plasma-image img {
        width: 40vw;
    }
}


@media (min-width: 498px) {
    .landing-box-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 50px; */
        padding-top: 20px;
    }
}



/*  ----------iphone 5 media query ----------  */
@media (max-width: 360px) { 
    .landing-box-1 h1 {
        margin-top: 60px;
        font-size: 1.5rem;
       } 

       .landing-box-1 p {
        font-size: 1.1rem;
       } 
   
    .plasma-image img {
         max-width: 180px;
         max-height: 180px; 
      }

      .landing-box-2 {
        padding: 35px;
    }

    .highlight {
        font-size: 1.5rem;
    }
    
}



/*  ----------large screen and desktop media query ----------  */

    @media (min-width:770px) and (max-height: 1366px)   {
        /* .landing-box-1{
            padding-top: 90px; 
            
        } */
        
        
        .landing-box-1 h1 {
            padding-left: 5%;
            font-size: 4rem;
            /* margin-top: 250px; */
        } 
       /*  .corona-image{
            padding-top: 6.5%;  */
        /*  border: 1px solid pink; */
/* } */.highlight {
            font-size: 4rem;
}
   
        .landing-box-1 p{
            font-size: 1.8rem;
            letter-spacing: 2px;
            line-height: 3rem;
        }


        .plasma-image img{
            max-width: 480px;
            max-height: 480px;
        }

        /* #about .cta-button-2 a{
            margin-top: none;
        } */
    }


/*---------------- padding for corona and device features sections -------------------*/
.padding{
    padding: 50px 0;
}

.padding img{
    width: 100%;
}

/* ---------------------  what we do content and background colour --------------------------*/

/* MAGIC WITH THE NAVBAR */
#about:before { 
    display: block; 
    content: " "; 
    margin-top: -98px; 
    height: 98px;
    visibility: hidden; 
}

.about-us{
    color: white;
/*  background-color: #0F0E2E; */
    background: linear-gradient(to right, hsla(244, 59%, 21%), hsla(168, 53%, 52%));
    width: 100%;
/*  padding-left: 45px; */

}


.about-us h1{
    margin-top: 45px;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
}

.about-us p{
    font-size: 1.2rem;
    text-align: center;
    padding-top: 15px;
    /* padding-right: 4%; */
    margin-bottom: 45px;
}

/*----------------- iphone 5 media query ----------------*/
 @media (max-width:370px) and (max-height: 680px)  { 
    /* .about-us{
        height: 40vh;
    } */
   
    .about-us h1{
        margin-top: 28px;
        font-size: 1.9rem;
        padding-left: 0;
    }
    .about-us p{
       font-size: 1.2rem;
       padding-top: 10px;
    }

} 


/* -----------/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) -----------*/
@media (min-width:770px) and (max-height: 1366px)  {

    .about-us {
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-us h1{
        margin-top: 45px;
        font-size: 2.8rem;
       /*  text-align: left; */
        padding-left: 2%;
    }
    .about-us p {
       /*  text-align: left; */
        font-size: 1.8rem;
        padding-top: 20px;
        line-height: 27px;
    /*     padding-right: 20%; */
        line-height: 2.6rem;
       /*  padding-left: 2%; */
       padding-right: 5%;
       padding-left: 5%;

    }
}



/*-------------- Corona dischange section ----------------*/
.corona-discharge h2{
    padding-left: 4.5%;
    text-align: left; 
    /* color: white; */
    color: #0F0E2E;
    font-weight: bold;
    padding-bottom: 5%;
}

.corona-discharge p{
    padding-left: 4.5%;
    padding-right: 4.5%;
    text-align: left; 
    /* color: white; */
    /* color: #0F0E2E; */
    color: #69696C;
    font-size: 1.1rem;
    padding-top: 15px;
}


.corona-image{
    display:flex;
    justify-content: center;
    padding: 50px; 
/*  border: 1px solid pink; */
}


.corona-image img{
    align-items: center;
    transition: transform 2s, 1.5s ease-in-out;
    margin: 0 auto;
/*  padding-left: 70px;  */
    cursor: pointer;
    height: auto; 
    width: auto; 
    max-width: 280px;
    max-height: 280px;
 /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  */
 /* background-color: white; */
/*  border-radius: 5px; */
/*  padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%; */
}


.corona-image img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }


 /*  .highlight2 {
    text-decoration: none;
    color: #0F0E2E;
    font-family: sans-serif;
    padding: 0 5px 5px; */
    /* box-shadow: inset 0 -0.5em 0 rgba(208, 0, 227, 0.3);  */
   /*Alternative colour--- */
 /*    box-shadow: inset 0 -0.5em 0 rgba(89,34,213, 0.5); */
   /*  box-shadow: inset 0 -0.5em 0 rgba(147,54,255, 0.5);
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
  } */

  

  /* .highlight2:hover {
    color: #0F0E2E;
    text-decoration: none; */
    /* Alternative colour---  */
   /*  box-shadow: inset 0 -1.5em 0 rgba(89,34,213, 0.5); */
   /*  box-shadow: inset 0 -1.5em 0 rgba(147,54,255, 0.5); */
    /* box-shadow: inset 0 -1.5em 0 rgba(208, 0, 227, 0.3);  */
/*   }
 */


/* -----------/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) -----------*/
@media (min-width:770px) and (max-height: 1366px)    {
        .corona-discharge h2{
            font-size: 2rem;
            padding-bottom: 5%;
        }
                
       /*  .corona-image{
            padding-top: 6.5%;  */
        /*  border: 1px solid pink; */
/* } */
        .corona-image img{
           /*  padding: 50px; */
            max-width: 450px;
            max-height: 450px;
        }

        
        .corona-discharge p{
            font-size: 1.5rem;
            line-height: 2.6rem;
        }

        /* #about .cta-button-2 a{
            margin-top: none;
        } */
    }



/* Line separator between about and device features section */
/* hr {
    margin-top: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid rgb(221, 219, 219); 
    } */
  




/*------------------ device features content and images ---------------------*/


.device-features{
    color: white;
    background: linear-gradient(to right, hsla(244, 59%, 21%), hsla(168, 53%, 52%));
     width: 100%;
    /*  padding-left: 45px; */
    /* border: 3px solid red; */ 
   /*  display: table-cell;
    justify-content:center;
    width: 100%;
    padding-bottom: 50px;
    background: linear-gradient(to right, hsla(244, 59%, 21%), hsla(168, 53%, 52%)); */
    /* background-color: #0F0E2E; */
   /*  height: 38vh; */
  }  

 /* .device-features h2, p{
    text-align: center;
    vertical-align: middle;
  }   */

  .device-features h2 {
    margin-top: 45px;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
  }  

  .device-features  p{
    font-size: 1.2rem;
    text-align: center;
    padding-top: 15px;
    /* padding-right: 4%; */
    margin-bottom: 45px;
   /*  padding-right: 20%;
    padding-left: 20%; */
  }  


 .device-images{
    padding-right: 15%;
    padding-left: 15%;
}
 


.device-img{
 /*  border: 3px solid red; */
    display: flex;
   /*  margin:10px; */
 /*  border:1px solid blue;  */ 
    justify-content:center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.device-img img{
    height: 100px;
    width: 100px;
    flex:0 1 auto;
    align-self:center;
    transition: transform .2s, 1s ease-in-out;
    margin: 0 auto;
    cursor: pointer;
 /*  border:1px solid red;  */
}

.device-img img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.device-heading h5 {
    justify-content: center;
    text-align: center;
    color: #69696C;

}


.device-heading p {
    justify-content: center;
    text-align: center;
    font-size:0.8rem;
    color: #69696C;
}




/*----------------- iphone 5 media query ----------------*/
@media (max-width:370px) and (max-height: 680px)  { 
    /* .about-us{
        height: 40vh;
    } */
   
    .device-features h2{
        margin-top: 28px;
        font-size: 1.9rem;
        padding-left: 0;
    }
    .device-features p{
       font-size: 1.2rem;
       padding-top: 10px;
    }

} 


/* -----------/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) -----------*/
@media (min-width:770px) and (max-height: 1366px)  {

    .device-features {
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .device-features h2{
        margin-top: 45px;
        font-size: 2.8rem;
      /*   text-align: left; */
        padding-left: 2%;
    }
    .device-features p {
      /*   text-align: left; */
        font-size: 1.8rem;
        padding-top: 20px;
        line-height: 27px;
    /*     padding-right: 20%; */
        line-height: 2.6rem;
        padding-left: 5%;
        padding-right: 5%;

    }

    .device-img{
        padding-top: 20%;
    }
}















/* iphone 5 media query */
/* @media (max-width: 360px) {
    .device-features{
        height: 40vh;
      }  
     
    .device-features{
         padding-bottom: 5%;
       }  
    
  .device-features h2 {
    font-size: 1.5rem;
    padding-bottom: 15px;
    margin-top: 30px;
  }  

  .device-features  p{
    font-size: 1.1rem;
  }  

} */


/* -----------/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) -----------*/
/* @media (min-width:770px) and (max-height: 1366px)   {
    .device-features h2{
        font-size: 2rem;
        padding-top: 2%;
    }

    .device-features  p{
        padding-right: 20%;
        padding-left: 20%; 
        font-size: 1.5rem;
      }  


      .device-img{
           padding-top: 20%;
       }
      
}
 */


/* ---------------- Footer ------------------*/
/* .site-footer {
   background: linear-gradient(to bottom, purple, rebeccapurple); 
    /* Alternative colour--- background: linear-gradient(to bottom, #5922D5, #B096EA);  */
/*   padding: 30px 0; 
  }  */

#footer{
/*  width: 100%; */
/*  margin-top: auto;  */
    background: #161617;
    padding-top: 30px; 
    padding-bottom: 30px; 
   
}


.footer-box{
/*   border:1px solid blue;  */
    display: flex;
    justify-content: center;
}


.social-icons{
 /* border:1px solid green;  */
    text-align: center;
}

/*  
.copyright {
    border:1px solid red;
   
} */
 
.copyright h4{
    color: white;
    font-size: 1rem;
/*  font-weight: bold; */
    text-align: center;
    padding-top: 4%;
}

/* .translate h4{
    color:#bb51ce;
    font-size: 1rem;
    text-align: left;
}
 */


.fa {
    padding: 10px 15px 5px;
    font-size: 1.2rem;
    color:white;
    padding-bottom: 1%;
    
}

.fa:hover{
   /*  color:#00FFFB; */
  /*   color:#9336FF;   */
  color: #bb51ce;  
   /*  color:rgb(250, 95, 229);  */
    /*Alternative colour---   */
   /*  color:  #2c2c2c; */
    text-decoration: none;
}



.fab {
    padding: 10px 15px 5px;
    font-size: 1.2rem;
    color: white;
}

.fab:hover{
    /* color:rgb(250, 95, 229);  */
    /*Alternative colour--- */
    /* color:  #2c2c2c;  */
  /*    color:#9336FF;  */
     color: #bb51ce;  
/*     color:#00FFFB; */
    text-decoration: none;
} 



/*-------------- Scroll up to top button -----------------*/
  
.cta-button-3{
    /*  border: 2px solid green;  */
   /*  display: table-cell;  */
 /*    text-align: end; */
    text-align: center;
    width: 100%;
    /* padding-bottom: 60px; */
}

 .cta-button-3 {
    /*   text-align: center;  */
        padding: 2%;
       /*  margin-top: 600px; */
    
    }
  
 .cta-button-3 a {
    border:1px solid white; 
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: 0.5em 0.5em;
    border-radius: 50%;
    font-size: 1.5em;
    }
    
    .cta-button-3 a:hover {
        color: white;
        text-decoration: none;
        box-shadow: inset 0 -2em 0 rgba(187, 81, 206, 0.5);
          /* Alternative colour */
       /*  box-shadow: inset 0 -2em 0 rgba(89,34,213, 0.5);  */
       /* box-shadow: inset 0 -2em 0 rgba(208, 0, 227, 0.3); */ 
       /* box-shadow: inset 0 -2em 0 rgba(250, 95, 229, 0.3); */
     
    } 


/* -----------/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) -----------*/
@media (min-width:770px) and (max-height: 1366px)   {
   
    .cta-button-3{
        text-align: end;
    }

}

/*-------------- Scroll up to top button -----------------*/
  
.cta-button-4{
    /*  border: 2px solid green;  */
   /*  display: table-cell;  */
 /*    text-align: end; */
    text-align: center;
    width: 100%;
    /* padding-bottom: 60px; */
}

 .cta-button-4 {
    /*   text-align: center;  */
        padding: 2%;
       /*  margin-top: 600px; */
    
    }
  
 .cta-button-4 a {
    border:1px solid white; 
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: 0.5em 0.5em;
    border-radius: 50%;
    font-size: 1.5em;
    }
    
    .cta-button-4 a:hover {
        color: white;
        text-decoration: none;
        box-shadow: inset 0 -2em 0 rgba(187, 81, 206, 0.5);
          /* Alternative colour */
       /*  box-shadow: inset 0 -2em 0 rgba(89,34,213, 0.5);  */
       /* box-shadow: inset 0 -2em 0 rgba(208, 0, 227, 0.3); */ 
       /* box-shadow: inset 0 -2em 0 rgba(250, 95, 229, 0.3); */
     
    } 


/* -----------/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) -----------*/
@media (min-width:770px) and (max-height: 1366px)   {
   
    .cta-button-4{
        display: none;
    }

}



/* ---------------- Contact Us page---------------- */

/* I think you need to find a way to identify the target url, and if it is the home page, add the fixed property. If not, then remove the fixed property
 */

/*------- contact-box-1 contact form -------*/
/* 
.form-padding{
    padding-right: 5%;
    padding-left: 5%;
} */

/* .box{
    border: 1px solid white;
} */

.contact-box-1{
    /*  background: url("https://s0.gifyu.com/images/Team-work-1--cropped.md.jpg") no-repeat center center fixed; */
    background: linear-gradient(to right, hsla(244, 59%, 21%, 0.692), hsla(168, 53%, 52%, 0.589)), url('./img/contact-page-background-image-2.jpg');
  /*   opacity: 90%; */
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 /*     box-shadow: inset 29px 33px 500px 600px rgba(9, 1, 10, 0.692); */
     /* padding: 10px 30px 10px; */
     overflow:hidden;
     padding-top: 90px;
     padding-bottom: 100px;
/*   padding-right: 30px; */

 }
 
 
 .contact-box-1 .btn{
     padding: 8px;
 }
 
 .contact-box-1 h2{
     padding-top: 50px;
     text-align: left;
     font-size: 2.2rem;
     font-weight: bold;
     color: white;
     padding-left: 8%;
 }
 
 .contact-box-1 p{
     font-size: 1.2rem;
     text-align: left;
     padding-top: 8px;
     padding-right: 4%;
     color: white;
     padding-left: 8%;
 }

.color-text{
    color:#00FFFB; 
    cursor: pointer;
}


.color-text:hover{
    color: rgb(201, 166, 206);
}



#defaultContactFormName, #defaultContactFormEmail, #exampleFormControlTextarea2{
   /*  background-color:#7d7d7d; */
   background-color: #BED5CF;
    border: none;
    opacity: 70%;
    font-weight: bold;
} 


#exampleFormControlTextarea2{
    padding-bottom: 30px;
}



form .form-control::-webkit-input-placeholder { 
    color: rgb(137, 137, 148);
    font-size: 0.9rem;
  }
  
form .form-control::-moz-placeholder {
    color: white;
    font-size: 0.9rem;
  }
form .form-control:-ms-input-placeholder {
    color: white;
    font-size: 0.9rem;
  }
  
form .form-control:placeholder {
    color: white;
    font-size: 0.9rem;
  }

  .form-control {
    color: white;
} 

/*---------------- send button ----------------*/
.btn{
    background-color:transparent;
    border-color: white;
    font-weight: bold;
    padding-left: 255px;
    padding-right: 255px;
}

.btn:hover {
    color:white;
    /* box-shadow: inset 0 -3em 0 rgba(89,34,213, 0.6); */
    box-shadow: inset 0 -3em 0 rgba(0, 255, 251, 0.5) ;
     /*  color:#00FFFB; */
    background-color: transparent;
    border-color: transparent;
   /*  color: #69696C; */
    /* color: #0F0E2E; */
}




/*---------------contact-box-2 ----------*/
.contact-box-2{
    padding-top: 80px;
    padding-bottom: 100px;
    padding-right: 30px;
}
 
 .contact-box-2 h6{
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #69696C;
    padding-left: 10%;
/*     color: white;  */
}

.contact-box-2 p{
    text-align: start;
    font-size: 1rem;
    color: #69696C;
    line-height: 5px;
    padding-left: 10%;
/*     color: white; */
}


/*--------------  Map -------------*/
 
.google-maps{
    overflow:hidden;
    padding-bottom:40%;
    position:relative;
    height:0;
}
.google-maps iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    padding-right: 10%;
    padding-left: 10%;
}





/*---------------- Media query for larger screens (desktop)---------------- */
@media (min-width:770px) and (max-height: 1366px)   {
   
    .form-padding{
        padding-right: 5%;
        padding-left: 5%;
    }
    }
    
/* 
.map-area{
    padding-left: 100px;
}


.map-area h6{
    color: white;
}


.map{
    border-radius: 5px;
} */
/* .map-container-6{
    overflow:hidden; */
    /* padding-bottom:56.25%; */
  /*   position:relative;
   
    } */
    /* .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    padding: 5%; */
   /*  width:650px; 
    height: 350px; */


/* This code needs to be at the end of the style sheet */
.row {
    margin: 0;
 }


 .home-row{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .container-fluid {
    padding-right: 0;
    padding-left: 0;
}


/* #dot-nav ul{
    list-style: none;
}

#dot-nav ul .fas{
    color: rgba(138, 135, 138, 0.5);
    font-size: 0.8rem;
}


#dot-nav ul .fas:hover{
    color: rgb(155, 42, 207);
    text-decoration: none;
}

#dot-nav ul > :first-child .fas {
    color: rgb(155, 42, 207);
    font-size: 0.8rem;
  } */


/* 
#dot-nav{    
	right: 10px;
	top: 50%;
	margin-top: -50px;
	height: 100px;
	z-index: 999;
}

#dot-nav ul {
	list-style: none;
	margin:0;
	padding: 0;
}
#dot-nav li {
	position: relative;
	background-color: #bdc3c7;
	border:3px solid #bdc3c7;
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
	padding: 5px;
	height: 10px;
	margin: 10px 10px 0px 0px;
	width: 10px;
	vertical-align:bottom;
}
#dot-nav li.active, #dot-nav li:hover {
	background-color: #8e44ad;
}

#dot-nav a {
	outline: 0;
	vertical-align:top;
	margin: 0px 0px 0px 25px;
	position: relative;
	top:-5px;
}
.awesome-tooltip + .tooltip > .tooltip-inner {
    /*background-color: #8e44ad;*/ 
/*     color: #f5f5f5; 
    border: 1px solid #8e44ad; 
}
.awesome-tooltip + .tooltip.left > .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #8e44ad;
}  */

/* .navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
 */

