/* .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    /*Aqui poner medida responsive no margin-left para llevar menu a la derecha*/
/* } */

/* .bg-light {
    background-color: #f8f9fa!important;
    width: 100%;
}  */

html{
    scroll-behavior: smooth;  
}

/* Navbar */
.sticky-top{
    opacity: 85%;
}
.navbar{
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 10vh;
    font-size: .9rem;
    font-weight: 400;
    /* box-shadow: 0 2px 4px 0 rgb(0, 0, 0, .5); */
    background-color: #2c2c2c;
}

.nav-link{
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.logo{
    min-width: 117px;
    max-width: 87px;
    margin-left: 20px;
    border: none;
}

.container{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* background-color: #2c2c2c; */
    background-color: rgb(52, 58, 64);
}

body{
    font-size: 1rem;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 300;
    margin: 0;
    padding: 0;
    /* background-color: #1D2326; */
    /* background-color: #252627;    */
    /* background-color: #2c2c2c; */
    background-color: rgb(52, 58, 64);
}

body p{
    color: white;
    margin-top: 10px;
}

body h2{
    color: white;
}

/* .container_image{
    width: 100%;
} */

img{
    width: 100%;
    height: auto;
    border: #5541ad 2px solid;
    text-align: justify;
    
    
    
}

.container-fluid_image {
    /* display: flex; */
    /* height: 70%;
    width: 100%; */
    height: 100%;
    background-size: cover;                     
    background-repeat: no-repeat;
    margin: 0;     
} 


/*  Support container  */

.container-fluid_support{
    display: flex;
    background-color: #DAD1FF;    
    padding: 3rem;
    width: 100%;
    height: auto;
    margin: 0;
    color: white;
    background: linear-gradient(to bottom, #330867, rgba(177, 150, 234, 0));
    /* background: linear-gradient(to bottom, purple, rebeccapurple);  */
    /* background: linear-gradient(to bottom, #5922D5, #B096EA);  */
    /* height: 30vh;
    width: 100%;
    padding-left: 45px; */ 
    
}
.white{
    color: white;
}

#down-bottom{
    text-align: center;
}


/*  Accelerators container  */

.container-fluid_accelerators{
    padding: 3rem;
    height: 50%;
    padding-bottom: 0;
    
}
.row_image{
    height: 60%;
}

.img-fluid{
    max-width: 100%;
    
}

#eesa{
    /* width: 60%;
    height: 60%; */
    border-radius: 10%;
    opacity: 0.9;
    width: 44%;
    margin-top: 6%;
    box-shadow: 0 5px 15px gray;
}

#airbus{
    /* width: 60%;
    height: 60%; */
    border-radius: 10%;
    opacity: 0.9;
    width: 45%;
    margin-top: 6%;
    box-shadow: 0 5px 15px gray;
}

.btndown{
    padding-left: 45%;
   
}

.btndown{
    background-color: none;
    height: 10%;
    width: 10%;
    border-radius: 50%;
    /* border: white 5px solid; */
}

.highlight{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding: 0 5px 5px;
    box-shadow: inset 0 -0.5em 0 rgba(208, 0, 227, 0.3);
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
    width: 20%;
    font-size: 1.7rem;
    margin-top: 20px;
}

hr{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid rgb(221, 219, 219);
}
 .hr{
    color: white;
    width: 66%;
    margin-top: 0;
}

/* European grants container */

.container-fluid_european{
    padding: 3rem;
    padding-bottom: 0;
}

h2{
   color: black ;
}
#myContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    /* max-width: 1000px; */
    margin: auto;
    margin-bottom: 10%;
    margin: 0;
    
}

.row_image{
    height: 60%;
}

#eurofusion{
    /* width: 73%;
    height: 73%; */
    border-radius: 10%;
    opacity: 0.9;
    width: 45%;
    margin-top: 6%;
    box-shadow: 0 5px 15px gray;
    
}


#sms{
    /* width: 73%;
    height: 74%; */
    border-radius: 10%;
    opacity: 0.9;
    width: 45%;
    margin-top: 6%;
    box-shadow: 0 5px 15px gray;
}


.img-fluid{
    max-width: 100%;
}

#threed:hover{
    box-shadow:
    1px 1px gray,
    2px 2px gray,
    3px 3px gray;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);

}

.about{
    padding: 0;
}

i{
    font-size: 2rem;
    /* color: #B64DEB; */
    color: white;
    border-radius: 20px;
    padding-top: 20px;
}

/* .text-center {
    text-align: center!important;
    
} */

/* National grants */
.container-fluid_national{
    padding: 3rem;
}

h2{
   color: black ;
}

.row_image{
    height: 60%;
}

#madridtech{
    /* width: 73%;
    height: 84%; */
    border-radius: 10%;
    opacity: 0.9;
    width: 45%;
    margin-top: 6%;
    box-shadow: 0 5px 15px gray;
}

#neotec{
    /* width: 73%;
    height: 86%; */
    border-radius: 10%;
    opacity: 0.9;
    width: 45%;
    margin-top: 6%;
    box-shadow: 0 5px 15px gray;
}


.img-fluid{
    max-width: 100%;
}

#threed:hover{
    box-shadow:
    1px 1px gray,
    2px 2px gray,
    3px 3px gray;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);

}

.about{
    padding: 0;
}

i{
    font-size: 2rem;
    /* color: #B64DEB; */
    color: white;
    border-radius: 20px;
    padding-top: 20px;
}

.text-center {
    text-align: center!important;
}

/* Footer */

.site-footer {
    /* background: linear-gradient(to bottom, purple, rebeccapurple);  */
    /* background: linear-gradient(to bottom, #5922D5, #B096EA); */
    background: linear-gradient(to bottom, #330867, rgba(177, 150, 234, 0));
    /* padding: 30px 0; */
    padding: 0;
   }
 
footer{
     width: 100%;
    /*  padding:3em; */
     margin-top: auto;
 }
 
 
.footer-box{
 /*    border:1px solid blue;  */
     display: flex;
     justify-content: center;
 }
 
 
.social-icons{
  /*  border:1px solid green;  */
     text-align: center;
}
 
 /*  
 .copyright {
     border:1px solid red;
    
 } */
  
.copyright h4{
     color: white;
     font-size: 1rem;
     font-weight: bold;
     text-align: center;
    }
 
 .fa {
     padding: 15px;
     font-size: 1.2rem;
     color:white;
}
 
 .fa:hover{
     color:rgb(250, 95, 229); 
     /*Alternative colour---  color:  #2c2c2c; */
     text-decoration: none;
}
 
 .fab {
     padding: 15px;
     font-size: 1.2rem;
     color: white;
 }
 
 .fab:hover{
     color:rgb(250, 95, 229); 
     /*Alternative colour---   color:  #2c2c2c; */
     text-decoration: none;
 } 
 
/* Scroll up to top button */
    
.cta-button-3{
    /*  border: 2px solid green;  */
   /*  display: table-cell;  */
    text-align: end;
    width: 100%;
    padding-bottom: 50px;
    margin-top: 10%;
}

.cta-button-3 {
    /*   text-align: center;  */
        padding: 5%;
       /*  margin-top: 600px; */
    
}
  
.cta-button-3 a {
    border:1px solid white; 
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: 0.5em 0.5em;
    border-radius: 50%;
    font-size: 1.5em;
    margin-right: 40%;
}

    .cta-button-3 a:hover {
        color: white;
        text-decoration: none;
       /*  Alternative colour--- box-shadow: inset 0 -2em 0 rgba(89,34,213, 0.5); */
       /* box-shadow: inset 0 -2em 0 rgba(208, 0, 227, 0.3); */ 
       box-shadow: inset 0 -2em 0 rgba(250, 95, 229, 0.3);
        /* color: white;
        background-color: orange;
        box-shadow: none; */
    } 

    .cta-button-3_down{
        margin-left: 20px;
        
    }


    /* .display{
        display: flex;
    }
    .float{
        float: left;
    }

    #up-bottom{
        margin-right: 41%;
    }

    /* .boton_redondo{
        margin-left: 20%;
    } */ 
    

    